.button {
   display: inline-block;
   color: $text-light;
   background-color: $accent;
   padding: 16px 33px;
   font-size: 16px;
   text-transform: uppercase;
   font-weight: 900;
   letter-spacing: .5px;
   border-radius: 0;
   line-height: 1;
   border: none;
   text-align: center;
   position: relative;
   transition: background-color .3s ease;
   cursor: pointer;
   text-decoration: none;
   overflow: hidden;
   white-space: nowrap;

   i {
      font-size: 13px;
      margin-right: 5px;
   }

   &:focus, &:hover {
      text-decoration: none;
      color: $text-light;
      box-shadow: none;
   }

   &:hover {
      background-color: darken($accent, 5%);
   }

   &:active {
      background-color: darken($accent, 10%);
   }

   &.select {
      position: relative;
   }

   &.selected {
      display: none;
      background-color: darken($accent, 5%);
      cursor: initial;
      padding-right: 110px;
      padding-left: 20px;

      input {
         position: absolute;
         right: 45px;
         top: 0;
         display: block;
         font-family: "Roboto Condensed", sans-serif;
         width: 45px;
         margin-left: 25px;
         text-align: center;
         border: none;
         height: 100%;
         font-size: 22px;
         color: $text-light;
         background-color: darken($accent, 10%);
      }

      i {
         position: absolute;
         right: 0;
         top: 0;
         display: block;
         text-align: center;
         line-height: 51px;
         height: 100%;
         width: 45px;
         cursor: pointer;
         margin-right: 0;

         &:hover {
            background-color: darken($accent, 10%);
         }
      }
   }
}

.overlay {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   z-index: 6;
   background-color: #333;
   opacity: .6;
}

.container {
   @include media-breakpoint-down(sm) {
      padding: 0 !important;
   }

   .row {
      @include media-breakpoint-down(sm) {
         margin: 0 !important;
      }
   }
}

.flex-wrapper {
   display: flex;
   width: 100%;
   height: 100%;
   min-height: inherit;
}

.flex-center {
   margin: auto;
}

.h1-title {
   color: $text-light;
   font-family: "Nautilus Pompilius", sans-serif;
   font-size: 25px;
   font-weight: 400;
   line-height: 22px;
   letter-spacing: -1.5px;

   span {
      color: $accent;
   }

}

.h2-title {
   color: $text-darken;
   font-size: 25px;
   font-weight: 900;
   line-height: 25px;
   text-transform: uppercase;
}

.h3-title {
   margin-bottom: 32px;
   color: $text-light;
   font-size: 18px;
   font-weight: 700;
   line-height: 22px;
   text-transform: uppercase;
}

.h5-title {
   color: #151515;
   font-family: "Raleway", sans-serif;
   font-size: 20px;
   font-weight: 700;
   line-height: 22px;
   text-transform: uppercase;
}

.h6-title {
   font-size: 18px;
   line-height: 1;
   margin-bottom: 0;
   > span {
      font-weight: 700;
      font-size: 18px;
   }
}

.s__title {
   text-align: center;
   padding-top: 62px;

   p {
      margin: 32px auto 0;
      color: $text-dark;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      max-width: 511px;
      @include media-breakpoint-down(xs) {
         width: 90%;
      }
   }

   &--light {
      .h2-title, p {
         color: $text-light;
      }
   }
}

.s--before {
   &:before {
      font-family: 'icomoon' !important;
      position: absolute;
      top: -27.5px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      color: $text-light;
      border-radius: 50%;
      background-color: $accent;
      content: "\e900";
      font-size: 24px;
      font-weight: 400;
      transition: $trs;
      z-index: 5;
   }

   &:hover {
      &:before {
         background-color: darken($accent, 5%);
      }
   }

   &:active {
      &:before {
         background-color: darken($accent, 10%);
      }
   }
}

.card {
   border: none;
   border-radius: 0;

   &-img-top {
      border-radius: 0;
   }
}


.slick-slide {
   &:focus {
      outline: none;
   }
}

.slick-next {
   right: 25px;

   &:before {
      content: "\e903";
   }
}

.slick-prev {
   left: 25px;

   &:before {
      content: "\e902";
   }
}

.slick-next, .slick-prev {
   width: 55px;
   height: 55px;
   z-index: 5;
   transition: $trs;
   border-radius: 50%;
   transform: translate3d(0, 0, 0);

   &.slick-disabled {
      opacity: .6;

      &:before {
         opacity: .6;
      }
   }

   &:before {
      transform: translate3d(0, 0, 0);
      transition: $trs;
      align-items: center;
      font-family: 'icomoon' !important;
      font-size: 23px;
      font-weight: 900;
   }

   &:hover {
      background-color: $accent;
   }

   &:active {
      background-color: darken($accent, 10%);
   }
}

.slick-dots {
   li {
      &.slick-active {
         button:before {
            color: transparent;
            opacity: 1;
         }
      }

      button {
         width: 16px;
         height: 16px;

         &:before {
            border-radius: 50%;
            background-color: $accent;
            transition: $trs;
            color: transparent;
            width: 16px;
            height: 16px;
            opacity: .55;
         }
      }
   }
}

@include media-breakpoint-down(lg) {
   .s-pizza .carousel-wrapper-pizza {

   }
}

.modal-info {
   position: fixed;
   bottom: 20px;
   right: 20px;
   z-index: -1;
   user-select: none;
   transition: 0.6s ease;
   display: flex;
   flex-direction: column-reverse;
   align-items: flex-end;
   .h6-title {
      display: inline-block;
      text-align: right;
      margin-top: 5px;
      background-color: $white;
      padding: 20px 25px;
      border-radius: 2px;
      border: 2px solid rgba($accent, .8);
      box-shadow: 0 0 8px 1px rgba(0,0,0,0.25);
      transform: translateY(70%);
      opacity: 0;
      transition: 0.6s ease;
      &--visible {
         transform: translateY(0);
         opacity: 1;
      }
   }
   &--visible {
      z-index: 9;
      user-select: initial;
   }

}