.page-header {
   height: 100vh;
   width: 100%;
   min-height: 750px;

   @include media-breakpoint-down(md) {
      height: 100%;
      min-height: 100%;
      padding: 0 0 50px;
   }
   @include media-breakpoint-down(sm) {
      padding: 0 0 200px;
   }
   .flex-wrapper {
      .col-12 {
         @include media-breakpoint-down(xs) {
            padding: 0 5px;
         }
      }

   }
   .flex-center {
      width: 100%;
      @include media-breakpoint-down(md) {
         margin: 0;
      }
   }
}

.main-nav {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding-top: 35px;
   z-index: 7;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   &.page-header__main-nav {
      @include media-breakpoint-down(md) {
         position: initial;
         margin-bottom: 70px;
      }
      @include media-breakpoint-down(sm) {
         margin-bottom: 70px;
      }
      @include media-breakpoint-down(xs) {
         margin-bottom: 35px;
      }
   }

   &--fixed {
      position: fixed;
      padding: 4px 0;
      background-image: url('../img/general/flour.jpg');
   }

   .row {
      width: 100vw;
   }

   .col-12 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media-breakpoint-down(md) {
         flex-wrap: wrap;
         justify-content: center;
      }
      @include media-breakpoint-down(xs) {
         flex-direction: column;
      }
   }

   .menu-button {
      display: none;
      opacity: 0;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: 15px;
      top: 15px;
      width: 55px;
      height: 55px;
      padding: 5px;
      border-radius: 50%;
      background-color: $accent;
      cursor: pointer;
      z-index: 8;
      transition: $trs;
      @include media-breakpoint-down(sm) {
         display: flex;
         opacity: 1;
      }
      span {
         display: block;
         position: absolute;
         width: 23px;
         height: 2px;
         background-color: #fafafa;
         transition: $trs;
         &:before, &::after {
            display: block;
            position: absolute;
            width: 23px;
            height: 2px;
            background-color: #fafafa;
         }
         &:before {
            content: '';
            top: -7px;
         }
         &:after {
            content: '';
            top: 7px;
         }
      }
      &--show {
         span {
            transform: rotate(45deg);
            &:before {
               top: 0;
               transform: rotate(0);
            }
            &:after {
               top: 0;
               transform: rotate(90deg);
            }
         }
      }
   }

   .nav {
      &.page-header__nav {
         @include media-breakpoint-down(md) {
            order: 3;
            padding: 8px;
         }
         @include media-breakpoint-down(sm) {
            display: none;
         }
         @include media-breakpoint-down(xs) {
            margin: auto;
            flex-direction: column;
         }
      }
      &--fixed{
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         justify-content: center;
         margin-top: 0;
         padding: 8px 0;
         z-index: 6;
         background-image: url('../img/general/flour.jpg');
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
      }
   }


   .navbar-brand {
      display: flex;
      align-items: center;
      margin-right: 0;
      @include media-breakpoint-down(md) {
         margin-right: 90px;
         order: 1;
         margin-bottom: 30px;
      }
      @include media-breakpoint-down(sm) {
         margin-bottom: 0;
      }
      @include media-breakpoint-down(xs) {
         margin: auto;
      }
   }

   .h1-title {
      margin-left: 8px;
      transform: skewY(-8deg);

      span {
         display: block;
      }
      @include media-breakpoint-down(xs) {
         font-size: 30px;
         margin-left: 12px;
      }
   }

   .icon-logo {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: darken($accent, 20%);
      border-radius: 50%;
      @include media-breakpoint-down(xs) {
         width: 55px;
         height: 55px;
      }
      &:before {
         margin-top: -2px;
         color: $text-light;
         transform: rotate(15deg);
         display: inline-block;
         font-size: 39px;
      }
   }

   .nav-item {
      .nav-link {
         &:hover {
            color: $accent;
         }
      }

      &.active {
         .nav-link {
            color: $accent;

            .icon {
               background-color: darken($accent, 20%);
               opacity: 1;
            }
         }
      }

      @include media-breakpoint-down(md) {
         margin-right: 7px;
      }
   }

   .nav-link {
      display: flex;
      align-items: center;
      color: $text-light;
      font-size: 12px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-decoration: underline;
      transition: $trs;
      @include media-breakpoint-down(lg) {
         padding: 5px;
      }
      @include media-breakpoint-down(sm) {
         padding: 15px;
         font-size: 16px;
         text-decoration: none;
      }

      .icon {
         position: relative;
         display: inline-block;
         width: 20px;
         margin-right: 9px;
         height: 20px;
         color: $text-light;
         opacity: .4;
         border-radius: 50%;
         transition: $trs;
         @include media-breakpoint-down(sm) {
            margin-right: 4px;
         }
         @include media-breakpoint-down(xs) {
            margin-right: 10px;
         }

         &:before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 11px;
            transition: $trs;
         }
      }
   }

   &__contact-phone {
      @include media-breakpoint-down(md) {
         order: 2;
         margin-bottom: 30px;
      }
      @include media-breakpoint-down(sm) {
         margin-bottom: 0;
      }
      @include media-breakpoint-down(xs) {
         margin: 30px auto;
      }
      p {
         text-align: right;
         margin-bottom: 5px;
         color: $text-light;
         line-height: 1;

         &:first-child {
            opacity: .8;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1.4px;
            @include media-breakpoint-down(xs) {
               font-size: 13px;
            }
         }

         &:last-child {
            margin-bottom: 0;
            font-size: 14px;
            letter-spacing: 1.45px;
            font-weight: 700;
            font-family: "Roboto Condensed", sans-serif;
            @include media-breakpoint-down(xs) {
               font-size: 16px;
            }
            span {
               font-size: 22px;
               font-weight: 700;
               letter-spacing: -0.15px;
               @include media-breakpoint-down(xs) {
                  font-size: 23px;
               }
            }
         }
      }

      .icon-phone {
         margin-right: 2px;
         font-size: 11px;
         color: $accent;
         @include media-breakpoint-down(xs) {
            font-size: 13px;
         }
      }
   }
}

.carousel-main {
   max-width: 930px;
   margin: auto;
   @include media-breakpoint-down(lg) {
      max-width: 760px;
   }
   @include media-breakpoint-down(md) {
      max-width: 500px;
   }
   @include media-breakpoint-down(xs) {
      max-width: 100%;
   }

   .slick-list {
      margin: 0 -40px;
      @include media-breakpoint-down(sm) {
         margin: 0;
      }
   }

   .slick-prev {
      left: -85px;
      @include media-breakpoint-down(sm) {
         left: -10px;
      }
   }

   .slick-next {
      right: -85px;
      @include media-breakpoint-down(sm) {
         right: -10px;
      }
   }

   .slick-dots {
      @include media-breakpoint-down(lg) {
         bottom: -75px;
      }

   }

   &.slick-dotted.slick-slider {
      @include media-breakpoint-down(lg) {
         margin-bottom: 75px;
      }
   }

   &__item {
      display: flex !important;
      justify-content: center;
      align-items: center;
      padding-left: 40px;
      padding-right: 40px;
      @include media-breakpoint-down(md) {
         flex-direction: column;
      }
      @include media-breakpoint-down(sm) {
         padding: 0;
      }
   }

   &__composition {
      margin-right: 75px;
      width: 45%;
      @include media-breakpoint-down(lg) {
         margin-right: 15px;
      }
      @include media-breakpoint-down(md) {
         margin-top: 25px;
         margin-right: 0;
         width: 100%;
         order: 2;
         text-align: center;
      }

      .h4-title {
         color: $text-light;
         font-family: "1Isadora M", sans-serif;
         font-size: 52px;
         font-weight: 400;
         line-height: 56px;
         @include media-breakpoint-down(lg) {
            font-size: 46px;
         }
         @include media-breakpoint-down(sm) {
            font-size: 40px;
         }
      }

      p {
         margin-top: 31px;
         color: $text-light;
         font-size: 16px;
         font-weight: 400;
         line-height: 25px;
         max-width: 250px;
         @include media-breakpoint-down(lg) {
            margin-top: 25px;
            margin-bottom: 0;
         }
         @include media-breakpoint-down(md) {
            max-width: 70%;
            margin: 25px auto 0;
         }
         @include media-breakpoint-down(sm) {
            max-width: 80%;
            margin: 18px auto 0;
         }
      }
   }

   &__img {
      @include media-breakpoint-down(lg) {
         width: 380px;
      }
      @include media-breakpoint-down(md) {
         width: 260px;
         order: 1;
      }

      img {
         min-width: 100%;
      }
   }

}

