.s-snack {
   padding-bottom: 90px;
}

.carousel-snack {
   margin: 53px auto 0;
   max-width: 960px;
   @include media-breakpoint-down(lg) {
      max-width: 670px;
   }
   @include media-breakpoint-down(md) {
      max-width: 330px;
   }
   &.slick-dotted.slick-slider {
      margin-bottom: 65px;
   }

   .slick-list {
      margin: 0 -15px;
   }
   .slick-prev {
      left: -80px;
   }
   .slick-next {
      right: -80px;
   }
   .slick-dots {
      bottom: -65px;
      @include media-breakpoint-down(lg) {
         bottom: -75px;
      }
   }

   &__item {
      margin: 0 15px;
      color: $text-darken;
      text-align: center;

      .card {
         &-img-top {
            display: flex;
            object-fit: cover;
            height: 100%;
         }
         &-img-wrap {
            position: relative;
            height: 180px;

            .size-price-wrap {
               position: absolute;
               bottom: 0;
               left: 50%;
               transform: translate(-50%, 50%);
               width: 60px;
               height: 60px;
               background-color: $accent;
               color: $text-light;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               border-radius: 50%;

               > div {
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 14px;

                  span {
                     font-size: 14px;
                     font-weight: 700;
                  }
               }
            }
         }

         &-body {
            padding: 0;
         }

         &-title {
            margin-top: 50px;
            font-size: 18px;
            font-weight: 800;
            line-height: 24px;
            text-transform: uppercase;
         }

         &-desc {
            margin-top: 24px;
            margin-bottom: 18px;
            padding: 0 25px;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
         }

         &-structure {
            padding: 13px 25px;
            margin: 0;
            background-color: #eaeaea;

            span {
               color: #5c5c5c;
               font-weight: 700;
            }

            color: #666666;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
         }
      }

      .button {
         width: 100%;
      }
   }
}
