body {
   &.ishome {
      .page-header {
         height: 100vh;
         min-height: 500px;
      }
   }
}

/* Typography */
.h1-title,
.h2-title,
.h3-title,
.h4-title,
.h5-title,
.h6-title {
   font-family: "Raleway", "Arial", sans-serif;
   text-transform: uppercase;
}

.h1-title {
   font-size: 38px;
   font-weight: 800;
}

.h2-title {
   font-size: 30px;
   font-weight: 800;
}

.h3-title {
   font-size: 16px;
   font-weight: 700;
}

.h4-title {
   font-size: 22px;
   font-weight: 300;
}

.img-cover {
   display: flex;
   width: 100%;
   height: 100% !important;
   object-fit: cover;
}

.button {
   display: inline-block;
   width: 100%;
   color: #fff;
   background-color: lighten($text-dark, 5%);
   padding: 13px 45px;
   font-size: 14px;
   letter-spacing: 0.8px;
   text-transform: uppercase;
   font-weight: 400;
   border-radius: 2px;
   text-align: center;
   position: relative;
   transition: $trs;
   cursor: pointer;
   border: none;

   &:focus, &:hover {
      text-decoration: none;
      color: #fff;
   }

   &:hover {
      background-color: $text-dark;
   }

   &:active {
      background-color: darken($text-dark, 3%);
   }
}

.btn-scroll {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   cursor: pointer;
   width: 50px;
   height: 50px;
   border-radius: 50%;

   &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 180%;
      height: 180%;
      content: '';
   }
}

@keyframes move-arrow {
   0% {
      transform: translate3d(0, -7px, 0);
      opacity: 1;
   }
   15% {
      opacity: 1;
   }
   100% {
      transform: translate3d(0, 8px, 0);
      opacity: 0;
   }
}

// Sections
.s- {
   &services, &portfolio, &callback {
      padding: 80px 0 100px;

      &-row {
         margin-top: 50px;
      }
   }

   &callback {
      padding: 80px 0 140px;
   }

   &services, &callback {
      background-repeat: repeat;
      background-size: initial;
   }
}

.section-composition {
   text-align: center;
   padding: 0 15px;

   .h2-title {
      margin-bottom: 0;

      &:after {
         display: block;
         content: '';
         height: 1px;
         width: 136px;
         margin: 22px auto 0;
         background-color: rgba(135, 135, 135, .5);
      }
      @include media-breakpoint-down(xs) {
         line-height: 1.2;
      }
   }

   .subhead {
      max-width: 570px;
      margin: 32px auto 0;
      font-size: 19px;
      font-family: $second-font;
      font-weight: 300;
      line-height: 1.3;

      span {
         white-space: nowrap;
         color: $accent;
         @include media-breakpoint-down(sm) {
            white-space: initial;
         }
      }
   }
}

.menu-button {
   display: none;
   opacity: 0;
   justify-content: center;
   align-items: center;
   position: fixed;
   right: 10px;
   top: 15px;
   width: 55px;
   height: 55px;
   padding: 5px;
   border-radius: 50%;
   background-color: $accent;
   cursor: pointer;
   z-index: 4;
   transition: $trs;
   @include media-breakpoint-down(xs) {
      display: flex;
      opacity: 1;
   }
   span {
      display: block;
      position: absolute;
      width: 23px;
      height: 2px;
      background-color: #fafafa;
      transition: $trs;
      &:before, &::after {
         display: block;
         position: absolute;
         width: 23px;
         height: 2px;
         background-color: #fafafa;
      }
      &:before {
         content: '';
         top: -7px;
      }
      &:after {
         content: '';
         top: 7px;
      }
   }
   &--visible {
      span {
         transform: rotate(45deg);
         &:before {
            top: 0;
            transform: rotate(0);
         }
         &:after {
            top: 0;
            transform: rotate(90deg);
         }
      }
   }
}

.overlay {
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   background-color: #333;
   opacity: 0;
   user-select: none;
   &--visible {
      z-index: 2;
      opacity: .6;
      user-select: initial;
   }
}