.page-content {

}

.main-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;

   &-wrap {
      width: 100%;
      background-color: $white;
      position: sticky;
      top: 0;
      z-index: 2;
   }

   &__logo {
      font-family: $third-font;
      font-size: 20px;
      text-transform: uppercase;
      transition: $trs;
      margin-bottom: 0;
      cursor: pointer;

      &:hover {
         color: $accent;
      }

      @include media-breakpoint-down(md) {
         font-size: 19px;
      }

      @include media-breakpoint-down(sm) {
         display: none;
      }
   }
}

.main-menu {
   display: flex;
   justify-content: center;
   align-items: center;

   &__item {
      &:hover {
         .main-menu__link {
            color: $accent;
         }
      }

      &--active {
         .main-menu__link {
            color: $accent;
         }
      }
   }

   &__link {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 14px;
      padding: 17px 16px;
      transition: $trs;
      @include media-breakpoint-down(md) {
         padding: 17px 13px;
      }
   }

   @include media-breakpoint-down(md) {
      margin: auto;
   }
   @include media-breakpoint-down(xs) {
      flex-direction: column;
   }
}