.page-content {

}

.main-nav {
   width: 100%;
   background-color: $white;
   position: sticky;
   top: 0;
   z-index: 3;

   &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media-breakpoint-down(xs) {
         padding: 0;
         width: 100%;
         position: fixed;
         top: 0;
         left: 0;
      }
   }

   &__logo {
      font-family: $third-font;
      font-size: 20px;
      text-transform: uppercase;
      transition: $trs;
      margin-bottom: 0;
      cursor: pointer;
      white-space: nowrap;

      &:hover {
         color: $accent;
      }

      @include media-breakpoint-down(md) {
         font-size: 19px;
      }

      @include media-breakpoint-down(sm) {
         display: none;
      }
   }
}

.main-menu {
   display: flex;
   justify-content: center;
   align-items: center;

   &__item {
      &:hover {
         .main-menu__link {
            color: $accent;
         }
      }

      &--active {
         .main-menu__link {
            color: $accent;
         }
      }
   }

   &__link {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 14px;
      padding: 17px 16px;
      transition: $trs;
      @include media-breakpoint-down(md) {
         padding: 17px 13px;
      }
   }

   @include media-breakpoint-down(sm) {
      margin: auto;
   }
   @include media-breakpoint-down(xs) {
      padding: 15px 0 10px;
      flex-direction: column;
      width: 100%;
      transition: 0.5s ease;
      background-color: $white;
      user-select: none;
      opacity: 0;
      z-index: -1;
   }

   &--visible {
      z-index: 3;
      user-select: initial;
      opacity: 1;
   }
}