.page-header {
   display: flex;
   justify-content: center;
   align-content: center;
   background-attachment: fixed;
   width: 100vw;
   max-width: 100%;
   @include media-breakpoint-down(sm) {
      background-attachment: initial;
   }

   &-flex {
      display: flex;
      position: relative;
      top: 0;
      height: 100%;
      width: 100%;

      .flex-center {
         margin: auto;
      }
   }

   &-composition {
      position: relative;
      text-align: center;
      color: #fff;

      p {
         font-size: 20px;
         margin-bottom: 0;
         font-weight: 300;
         @include media-breakpoint-down(xs) {
            font-size: 19px;
         }
         @include media-breakpoint-down(sm) {
            line-height: 1.4;
            font-weight: 400;
         }
      }

      .h1-title {
         display: block;
         text-transform: uppercase;
         font-weight: 800;
         padding: 22px 0;
         margin-bottom: 0;
      }

      &:before, &:after {
         position: absolute;
         display: block;
         content: '';
         width: 30%;
         height: 30%;
         @include media-breakpoint-down(sm) {
            display: none;
         }
      }

      &:before {
         top: 0;
         left: 0;
         border-top: 5px solid rgba(255, 255, 255, .75);
         border-left: 5px solid rgba(255, 255, 255, .75);
         transform: translate(-45px, -50px);
         border-top-left-radius: 2px;
      }

      &:after {
         bottom: 0;
         right: 0;
         border-bottom: 5px solid rgba(255, 255, 255, .75);
         border-right: 5px solid rgba(255, 255, 255, .75);
         transform: translate(45px, 50px);
         border-bottom-right-radius: 2px;
      }
   }

   &-scroll-down {
      bottom: 25px;
      left: calc(50% - 25px);
      border: 2px solid #fff;

      &:active, &:focus {
         border: 2px solid #fff;
      }
      &:hover {
         color: $text-light;
      }

      .icon-arrow {
         font-size: 23px;
         animation: move-arrow 2s normal infinite;
      }
   }
}