.s-callback {
   &__mail-address {
      display: inline-block;
   }

   &-form {
      margin-top: 55px;

      &__field {
         display: block;
         width: 100%;
         padding: 12px 15px;
         border-radius: 2px;
         margin-bottom: 15px;
         border: 1px solid #d0d0d0;
      }

      &__select {
         padding: 0;
         border: none;

         .selectize-dropdown,
         .selectize-input,
         .selectize-input input {
            font-size: inherit;
            line-height: inherit;
            color: $text-dark;

            .option {
               padding: 12px 15px;
               cursor: pointer;
               opacity: .8;

               &:hover {
                  background-color: #fafafa;
                  opacity: 1;
               }
            }
         }

         .selectize-input {
            padding: 12px 15px;
            border-radius: 2px;
            box-shadow: none;
         }

         .selectize-dropdown {
            border-radius: 2px;
            border: 1px solid #d0d0d0;

            .active {
               color: $text-dark;
            }
         }


      }
   }
}