.s-portfolio {

   &-box {
      position: relative;
      width: 100%;
      height: 215px;
      color: $text-light;
      overflow: hidden;
      background-color: #000;
      transition: $trs;
      border-radius: 2px;
      margin-bottom: 25px;

      &__img {
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         transition: $trs;
         opacity: .9;
         @include media-breakpoint-down(md) {
            opacity: .55;
         }
      }

      &__h4-title,
      &__test-ex,
      &__action {
         position: absolute;
         left: 0;
         transform: translate3d(0, 0, 0);
         will-change: transform;
         transition: $trs;
         opacity: .9;
         width: 100%;
         text-align: center;
      }

      &__h4-title {
         top: 25px;

         span {
            font-weight: 700;

            &:before {
               content: ' ';
            }

            @media screen and (max-width: 400px) {
               display: block;
            }
         }

         @include media-breakpoint-down(md) {
            transform: translate3d(0, 12px, 0);
            opacity: 1;
         }
         @media screen and (max-width: 400px) {
            top: 5px;
            line-height: 1.2;
         }
      }

      &__test-ex {
         top: 50px;
         font-family: $second-font;
         @include media-breakpoint-down(md) {
            transform: translate3d(0, 12px, 0);
            opacity: 1;
         }
         @media screen and (max-width: 400px) {
            top: 58px;
         }
      }

      &__action {
         bottom: 25px;
         opacity: 0;
         font-size: 18px;
         @include media-breakpoint-down(md) {
            transform: translate3d(0, 0, 0);
            opacity: 1;
         }
         @media screen and (max-width: 400px) {
            bottom: 30px;
         }
      }

      &__icon {
         position: absolute;
         top: calc(50% - 12px);
         left: calc(50% - 18px);
         user-select: none;
         font-size: 36px;
         opacity: 0;
         transition: 0.45s ease;
         color: $accent;
         @include media-breakpoint-down(md) {
            opacity: 1;
         }
      }

      &:hover {
         color: $text-light;

         .s-portfolio-box__img {
            opacity: .55;
         }

         .s-portfolio-box__h4-title {
            transform: translate3d(0, 12px, 0);
            opacity: 1;
         }

         .s-portfolio-box__test-ex {
            transform: translate3d(0, 12px, 0);
            opacity: 1;
         }

         .s-portfolio-box__action {
            transform: translate3d(0, -12px, 0);
            opacity: 1;
            @include media-breakpoint-down(md) {
               transform: translate3d(0, 0, 0);
            }
         }

         .s-portfolio-box__icon {
            opacity: 1;
         }
      }

      @include media-breakpoint-down(lg) {
         max-width: 360px;
      }
      @include media-breakpoint-down(sm) {

         margin-left: auto;
         margin-right: auto;
      }
   }

   @media screen and (min-width: 991px) and (max-width: 1199px) {
      div[class^="col-"] {
         &:nth-child(odd) {
            .s-portfolio-box {
               margin-right: 0;
               margin-left: auto;
            }

         }

         &:nth-child(even) {
            .s-portfolio-box {
               margin-left: 0;
               margin-right: auto;
            }
         }
      }
   }

}